:root {
	--text: #E1E1E1;
	--link: #9b57ff;
	--link-hover: #9b57ff;
}

html {
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: #191b25;
	color: var(--text);
	font-size: 24px;
	font-family: Verdana, Geneva, sans-serif;
}

body {
	width: 90%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.navbar {
	font-size: 0px;
	width: 100%;
	background-color: var(--text);
}

.header {
	font-size: 2.5rem;
	margin-bottom: 0px;
	text-align: center;
}

a {
	color: var(--link);
}

a:hover,
a:focus,
a:active {
	color: var(--link-hover);
	transition: 0.3s;
}

.navbar a {
	color: var(--text);
	text-decoration: none;
	font-size: 1rem;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 25%;
	text-align: center;
	font-weight: 500;
}

.navbar a:after {
	content: '';
	width: 0px;
	margin-left: 10%;
	height: 3px;
	display: block;
	background: var(--text);
	transition: 0.15s;
}

.navbar a:hover:after {
	width: 80%;
}

.entry h2 {
	margin: 5px auto 2px auto;
}

small.standalone {
	display: block;
	margin-top: -30px;
	margin-bottom: 20px;
}

footer.standalone {
	margin-top: 20px;
}

li {
	list-style-type: none;
}

p img {
	max-width: 100%;
}

@media only screen and (max-width: 380px) {
	.navbar a {
		width: 100%;
	}
	body {
		width: 96%;
	}
}

li span {
	font-size: 18px;
}

pre code {
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0px;
	background-color: #407174;
	padding: 8px;
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
