---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1 class="header">Hampton Moore</h1>
<div><a href="https://github.com/herohamp/">Github</a> | <a href="https://gist.github.com/herohamp">Gist</a> | <a href="https://twitter.com/herohamp>">Twitter</a> | <a href="./rss.xml">RSS</a></div>
<p>Welcome to a tiny spot on the internet, containing the ramblings of another human</p>

<hr>

{% set postslist = collections.posts %}
{% set postslistCounter = collections.posts | length %}
<ul>
{% for post in postslist | reverse %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    {{ post.date | readableDate }} &ndash; <a href="{{ post.url | url }}">{{ post.data.title }}</a>
  </li>
{% endfor %}
</ul>
