<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ renderData.title or title or metadata.title }}</title>
<meta name="description" content="{{ renderData.description or description or metadata.description }}">
<meta name="author" content="Hampton Moore">
<meta name="robots" content="index, follow">
<link rel="stylesheet" href="{{ '/css/index.css' | url }}">
</head>
<body>
	{{ content | safe }}
<img src="https://hampton.goatcounter.com/count?p={{ page.filePathStem }}">
</body>
</html>
