---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1 class="header">{{ title }}</h1>
[<a href="{{ '/' | url }}">Home</a>]
<hr>
{{ content | safe }}
<hr>
By Hampton Moore

<img src="https://goatcounter.hampton.pw:/count?p=/{{ url }}" alt="Funny Photo Of A Goat">